body {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    margin: 0;
    font-family: 'Montserrat', serif;
}

h1 {
    margin-top:0;
}

#content {
    background-color: transparent;
    width: 1000px;
    margin: auto;
    min-height: 600px;
    padding: 32px;
    horiz-align: center;
}

.venueOuterDiv{
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 27%;
    display: inline-block;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    background: white;
}


.venueOuterDiv:active {
    box-shadow: 1px 1px 1px;
    transform: translateY(4px);
}

.venueInnerDiv {
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 18px;
    color: black;
}

.city{
    text-align: left;
    font-family: 'Montserrat';
    color: black;
}
.capacity{
    text-align: right;
    font-family: 'Montserrat';
    color: #FF416C;
}



.header{
    width: 100%;
    height: 80px;
    display: block;
    background: transparent;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
    margin: 0px;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0px;
}

.navigation a li{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}
.navigation a:hover {
    opacity: .50;
}

.title{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 800;
    color: white;
    text-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
}


.loginDiv {
    font-size: 14pt;
    margin-top: 40px;
    margin-left: 20px;
}

#username, #password {
    margin-left: 20px;
    font-size: 14pt;
}

#loginButton {
    width: 200px;
    background-color: cornflowerblue;
}

#loginButton:hover {
    background-color: dodgerblue;
}


#loggedInDetails {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}

.user:hover {
    opacity: .5;
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 300px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Individual Venues */
#contents {
    background-color: white;
    width: 750px;
    margin: auto;
    margin-bottom: 75px;
    min-height: 600px;
    padding: 64px;
    horiz-align: center;
    overflow: visible;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
}


.location {
    text-align: center;
    font-family: Montserrat;
    color: black;
    font-size: 20px;
    padding: 15px;
}

.description{
    width: 75%;
}
.features {
    width: 20%;
    float: right;
    text-align: right;
}

#bookButton {
    float: right;
}

.deats{
    display: flex;
    width: 100%;
    min-height: 100px;
    padding: 1px;
}


.venueName {
    color: black;
    text-align: center;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 5px;
    display: inline;
}